<footer class="footer__area footer--3">
    <div class="copyright bg--theme">
        <div class=" container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="copyright__inner">
                        <div class="cpy__right--left">
                            <p>@Colima To Go</p>
                        </div>
                        <div class="cpy__right--left">
                            <p> <a class="accountbox-trigger" routerLink="aviso">
                                    <span>Aviso de Privacidad</span> &nbsp;</a></p>
                        </div>

                        <div class="cpy__right--left">
                            <p>
                                <a class="accountbox-trigger" routerLink="terminos&condiciones">
                                    <span>Terminos y Condiciones</span> &nbsp;</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>