@page { size: 8.5in 11in; margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.98in; margin-bottom: 0.98in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
		H2 { margin-top: 0.03in; margin-bottom: 0in; direction: ltr; color: #2f5496; page-break-inside: avoid; widows: 2; orphans: 2 }
		H2.western { font-family: "Calibri Light", serif; font-size: 13pt; font-weight: normal }
		H2.cjk { font-family: "Arial"; font-size: 13pt; font-weight: normal }
		H2.ctl { font-family: Arial, Helvetica, sans-serif; font-size: 13pt; font-weight: normal }
		A:link { color: #0000ff; so-language: zxx }