<section class="food__category__area bg--white ">
    <div class="container">
        <div LANG="es-MX" LINK="#0000ff" DIR="LTR">
            <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%">
                <FONT FACE="Calibri Light, serif">
                    <FONT SIZE=6 STYLE="font-size: 28pt">Aviso
                        de Privacidad – Usuarios</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <BR><BR>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>De conformidad en lo dispuesto
                        por la Ley Federal de Protección de Datos Personales en Posesión de
                        Particulares, su Reglamento y la normativa relacionada (la
                        “Legislación de Datos Personales”), se emite el presente Aviso
                        de Privacidad en los siguientes términos:</FONT>
                </FONT>
            </P>
            <H1 CLASS="western">1. Identidad, domicilio y servicios del
                responsable.</H1>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Colima To Go, </FONT>
                </FONT>
                <FONT COLOR="#222222">
                    <FONT FACE="Arial, serif"><SPAN STYLE="background: #ffffff">E.I.R.L.</SPAN></FONT>
                </FONT>
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>
                        Es el responsable de la obtención, uso, divulgación y
                        almacenamiento de los datos personales (el “Tratamiento”) de los
                        usuarios (“Usted”, el “Titular” o “Usuario”), mismos que
                        se recaban como resultado de los servicios que Colima To Go presta a
                        través de su página de internet&nbsp;</FONT>
                </FONT><A HREF="https://www.colimatogo.com">
                    <FONT COLOR="#0000ff">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3><U>www.colimatogo.com</U></FONT>
                        </FONT>
                    </FONT>
                </A>
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>&nbsp;(el
                        “Sitio”), o bien a través de nuestra aplicación móvil o de
                        algún otro medio electrónico (la “App”), con domicilio en Lucia
                        M Carrillo #1177, Colonia Fracc. Punta Diamante, C.P. 28989. Villa de
                        Álvarez, Colima, México.</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Colima To Go es una plataforma
                        virtual que presta servicios de tecnología. En dicha plataforma se
                        exhiben productos de establecimientos de comercio ajenos a </FONT>
                </FONT>
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3><B>Colima
                            To Go</B></FONT>
                </FONT>
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3> para
                        que sean adquiridos por los consumidores/usuarios (los “</FONT>
                </FONT>
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3><B>Servicios</B></FONT>
                </FONT>
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>”).</FONT>
                </FONT>
            </P>
            <H1 CLASS="western">2.&nbsp;Datos personales recabados y tratados por
                el responsable.</H1>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Para las finalidades indicadas
                        en el presente Aviso de Privacidad, el responsable trata las
                        siguientes categorías de datos personales:</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>El responsable no recaba datos
                        personales sensibles.</FONT>
                </FONT>
            </P>
            <H1 CLASS="western">3. Finalidades del Tratamiento.</H1>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Trataremos los datos
                        personales para las siguientes finalidades primarias y necesarias:</FONT>
                </FONT>
            </P>
            <OL>
                <LI>
                    <P ALIGN=JUSTIFY
                        STYLE="margin-top: 0.19in; margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Ordenar, catalogar,
                                clasificar, dividir o separar y almacenar los datos personales
                                dentro de los sistemas y archivos de Colima To Go.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Creación y administración
                                de la cuenta del Usuario.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Mantener, desarrollar y
                                controlar la relación entre el Usuario y Colima To Go.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Proporcionar al Usuario
                                información necesaria, a través de la aplicación, sobre los
                                productos de los oferentes, para formalizar la relación de consumo
                                de dichos productos.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Realizar procesos al interior
                                de Colima To Go, con fines de desarrollo operativo y/o de
                                administración de sistemas.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Prestar los servicios de
                                Colima To Go y dar seguimiento de acuerdo con las necesidades
                                particulares del Usuario, con el fin de brindar los productos
                                adecuados para cubrir sus necesidades específicas.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Realizar el envío de
                                información de novedades, publicidad o marketing, ventas a
                                distancia. Haciendo uso de medios tales como, correo electrónico,
                                notificaciones, mensajes de texto (SMS), ofertas de productos.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Llevar un registro histórico
                                de la información, con fines de satisfacción al Usuario
                                desarrollando análisis sobre los intereses y necesidades; brindando
                                de esta manera un mejor servicio.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Realizar estrategias de
                                mercado mediante el estudio del comportamiento del Usuario frente a
                                las ofertas y con ello mejorar en su contenido, personalizando
                                presentación y servicio.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Elaboración de prospecciones
                                comerciales y segmentación de mercados</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Realizar encuestas de
                                satisfacción y ofrecimiento o reconocimiento de beneficios para
                                calificar el servicio y la atención por medio de los canales
                                dispuestos para ello.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Adelantar las actividades
                                necesarias para gestionar las solicitudes, quejas y reclamos de los
                                Usuario de la empresa o tercero; y direccionarlos a las áreas
                                responsables de emitir las respuestas correspondientes</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Presentar reportes ante las
                                autoridades de inspección, vigilancia y control, y tramitar los
                                requerimientos realizados por entidades administrativas o
                                judiciales, en caso de ser solicitado.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Usos administrativos,
                                comerciales y de publicidad que se establezcan en los acuerdos
                                suscritos con los clientes Titulares de la información.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Transferencia o transmisión
                                de datos nacional a proveedores con los que Colima To Go desarrolle
                                actividades en cumplimiento de su objeto social. Asimismo, se podrá
                                hacer transferencia a los aliados estratégicos de la empresa para
                                que ejecuten actividades de marketing, publicidad y promociones
                                asociadas con el objeto social; todo de acuerdo con las
                                disposiciones aplicables.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Reportes a centrales de
                                riesgo por incumplimiento de las obligaciones financieras derivadas
                                de la relación comercial.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Solicitar la autorización de
                                cobro ante las entidades definidas y autorizadas para ello.</FONT>
                        </FONT>
                    </P>
            </OL>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>De llegarse a presentar otro
                        tipo de finalidades en el tratamiento de datos personales se
                        solicitará la autorización previa, expresa e informada del Titular.</FONT>
                </FONT>
            </P>
            <H1 CLASS="western">4.&nbsp;Opciones y medios que el responsable le
                ofrece para limitar el uso o divulgación de sus datos personales.</H1>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>En todos aquellos casos
                        legalmente procedentes, usted podrá limitar el uso o divulgación de
                        sus datos personales dirigiendo la solicitud correspondiente a
                        nuestro Departamento de Datos Personales, siguiendo el procedimiento
                        a que se refiere el numeral 6 del presente Aviso de Privacidad.</FONT>
                </FONT>
            </P>
            <H1 CLASS="western">5. Transferencia de Datos Personales.</H1>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Sus datos personales podrán
                        ser transferidos dentro del territorio nacional, conforme a lo
                        siguiente:</FONT>
                </FONT>
            </P>
            <OL>
                <LI>
                    <P ALIGN=JUSTIFY
                        STYLE="margin-top: 0.19in; margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>A autoridades, organismos o
                                entidades gubernamentales, en cumplimiento a o en relación con las
                                obligaciones contempladas en la legislación aplicable al
                                responsable, sus subsidiarias y/o afiliadas, así como en
                                cumplimiento de requerimientos efectuados a las mismas.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>A autoridades, organismos o
                                entidades gubernamentales, cuando la transferencia sea precisa para
                                el reconocimiento, ejercicio o defensa de un derecho del
                                responsable, sus subsidiarias y/o afiliadas en un proceso judicial.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>A compañías afiliadas o
                                subsidiarias del responsable, con finalidades de valoración y
                                análisis de perfiles de los usuarios, resguardo centralizado de la
                                información y para fines estadísticos y de registro histórico de
                                usuarios del responsable, sus subsidiarias y/o afiliadas.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>A terceros derivado de una
                                reestructura corporativa del Representante, incluyendo, la fusión,
                                consolidación, venta, liquidación o transferencia de activos.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>A terceros cuando la
                                transferencia sea necesaria para el mantenimiento o cumplimiento de
                                una relación jurídica entre el responsable y el titular.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>A terceros cuando la
                                transferencia sea necesaria por virtud de un contrato celebrado o
                                por celebrar en interés del titular, por el responsable y un
                                tercero.</FONT>
                        </FONT>
                    </P>
                <LI>
                    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=3>Con base en los demás
                                supuestos establecidos en la Legislación de Datos Personales que no
                                requieren de su consentimiento.</FONT>
                        </FONT>
                    </P>
            </OL>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Las transferencias antes
                        mencionadas no requieren de su consentimiento conforme a la
                        Legislación de Datos Personales.</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Le informamos que las
                        remisiones nacionales de Datos Personales entre el responsable y sus
                        encargados no requerirán ser informadas.</FONT>
                </FONT>
            </P>
            <H1 CLASS="western">6.&nbsp;Medios para el ejercicio sus derechos.</H1>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>En todos aquellos casos
                        legalmente procedentes, usted podrá en todo momento y a través del
                        procedimiento establecido en el presente numeral, ejercer los
                        siguientes derechos referentes a sus datos personales:&nbsp;</FONT>
                </FONT>
            </P>
            <OL TYPE=i>
                <LI>
                    <P ALIGN=JUSTIFY
                        STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
                        <SPAN STYLE="font-variant: normal">
                            <FONT COLOR="#000000"><SPAN STYLE="text-decoration: none">
                                    <FONT FACE="Arial, serif">
                                        <FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN
                                                    STYLE="font-weight: normal"><SPAN
                                                        STYLE="background: #ffffff">Derechos
                                                        de Acceso, Rectificación, Cancelación y Oposición (“Derechos
                                                        ARCO”).</SPAN></SPAN></SPAN></FONT>
                                    </FONT>
                                </SPAN></FONT>
                        </SPAN></P>
                <LI>
                    <P ALIGN=JUSTIFY
                        STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
                        <SPAN STYLE="font-variant: normal">
                            <FONT COLOR="#000000"><SPAN STYLE="text-decoration: none">
                                    <FONT FACE="Arial, serif">
                                        <FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN
                                                    STYLE="font-weight: normal"><SPAN
                                                        STYLE="background: #ffffff">Revocar
                                                        el consentimiento otorgado al responsable para el tratamiento de
                                                        sus
                                                        datos personales.</SPAN></SPAN></SPAN></FONT>
                                    </FONT>
                                </SPAN></FONT>
                        </SPAN></P>
                <LI>
                    <P ALIGN=JUSTIFY
                        STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
                        <SPAN STYLE="font-variant: normal">
                            <FONT COLOR="#000000"><SPAN STYLE="text-decoration: none">
                                    <FONT FACE="Arial, serif">
                                        <FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN
                                                    STYLE="font-weight: normal"><SPAN
                                                        STYLE="background: #ffffff">limitar
                                                        el uso o divulgación de sus datos
                                                        personales.</SPAN></SPAN></SPAN></FONT>
                                    </FONT>
                                </SPAN></FONT>
                        </SPAN></P>
                <LI>
                    <P ALIGN=JUSTIFY
                        STYLE="margin-bottom: 0.25in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
                        <SPAN STYLE="font-variant: normal">
                            <FONT COLOR="#000000"><SPAN STYLE="text-decoration: none">
                                    <FONT FACE="Arial, serif">
                                        <FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN
                                                    STYLE="font-weight: normal"><SPAN
                                                        STYLE="background: #ffffff">Manifestar
                                                        su negativa para el tratamiento de sus datos personales con
                                                        respecto
                                                        a las finalidades secundarias y accesorias antes
                                                        mencionadas.</SPAN></SPAN></SPAN></FONT>
                                    </FONT>
                                </SPAN></FONT>
                        </SPAN></P>
            </OL>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Para el ejercicio de dichos
                        derechos referentes a sus datos personales deberá presentar ante el
                        responsable la solicitud correspondiente, mediante un escrito libre
                        debidamente firmado y dirigido a nuestro&nbsp;Departamento de Datos
                        Personales, entregándolo en el domicilio mencionado en el numeral
                        primero del presente Aviso de Privacidad o enviándolo a la dirección
                        de correo electrónico: quejas@colimatogo.com, estableciendo como
                        asunto “Derechos sobre datos personales”.</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>La solicitud deberá cumplir
                        con los requisitos establecidos en la Legislación de Datos
                        Personales vigente y deberá contener y acompañar lo siguiente:</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Nuestro Departamento de Datos
                        Personales dará trámite a las solicitudes de los titulares para el
                        ejercicio de sus derechos referentes a datos personales en un plazo
                        no mayor a 20 (veinte) días hábiles contados a partir de su
                        recepción y realizar requerimiento o subsanar conforme a los tiempos
                        de la Legislación de Datos Personales; el responsable podrá ampliar
                        este plazo hasta por 20 (veinte) días hábiles más, cuando el caso
                        lo amerite, previa notificación. En caso de que su solicitud resulte
                        procedente, la misma se hará efectiva dentro de los 15 (quince) días
                        hábiles siguientes de la respuesta por parte de nuestro Departamento
                        de Datos Personales.</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Usted podrá obtener la
                        información o datos personales solicitados a través de copias
                        simples, documentos electrónicos en formatos convencionales, o a
                        través de cualquier otro medio legítimo que garantice y acredite el
                        ejercicio efectivo del derecho solicitado.</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Según se establece
                        anteriormente, nuestro Departamento de Datos Personales está a cargo
                        de tramitar cualesquier solicitudes de los Titulares para el
                        ejercicio de sus derechos referentes a datos personales y sus datos
                        de contacto son los siguientes:</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>a) Domicilio: Lucia M Carrillo
                        #1177, Colonia Fracc. Punta Diamante, C.P. 28989. Villa de Álvarez,
                        Colima, México.</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>b) Correo electrónico:
                        quejas@colimatogo.com</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>El responsable desea mantener
                        actualizados sus datos personales en todo momento. Por lo anterior,
                        solicitamos su cooperación para comunicarnos oportunamente cualquier
                        cambio que debamos tener en cuenta, para incorporarlo a nuestras
                        bases de datos. Usted garantiza y responde, en cualquier caso, de la
                        veracidad, exactitud, vigencia y autenticidad de los datos personales
                        facilitados para su atención personal, o lo de cualquier tercero
                        bajo su custodia o representación legal.</FONT>
                </FONT>
            </P>
            <H1 CLASS="western">7.&nbsp;Medios que permiten recabar datos
                personales de manera automática.</H1>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Le informamos que nuestra App
                        y nuestro Sitio hacen uso de&nbsp;</FONT>
                </FONT>
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3><I>cookies</I></FONT>
                </FONT>
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>&nbsp;y
                        otras tecnologías a través de las cuales es posible monitorear
                        automáticamente su comportamiento como Usuario, brindarle nuestros
                        Servicios y otorgarle una experiencia adecuada durante el uso de los
                        mismos, así como ofrecerle nuevos productos y servicios basados en
                        sus preferencias. Los datos personales que se recaban a través de
                        estas tecnologías son: dirección IP, sitios web y secciones de los
                        mismos que usted visita desde el Sitio, antes del Sitio o en páginas
                        relacionadas con el Sitio y la App, características de navegador,
                        características de dispositivos, sistema operativo, preferencias de
                        idiomas, URL a las que se hace referencia, información sobre
                        acciones realizadas en nuestro Sitio y nuestra App, información
                        sobre conductas y acciones realizadas mientras nuestra App está
                        abierta, fechas y horas de las visitas al Sitio o la App, secciones o
                        contenido consultadas en los mismos y datos de ubicación y
                        localización del Usuario mientras nuestra App esté abierta.</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Estas tecnologías
                        pueden&nbsp;deshabilitarse accediendo a las “opciones de internet”
                        ubicadas en la sección de las “Herramientas”&nbsp;o funciones
                        similares del navegador de Internet que esté utilizando o a través
                        del ícono de configuración, herramientas o similar del dispositivo
                        en el cual esté instalada la App; sin embargo, al desactivarlas debe
                        tomar en cuenta que dicha acción podría provocar que no sea capaz
                        de obtener el funcionamiento total que el Sitio o la App pudiera
                        ofrecerle. Si usted desea obtener información adicional acerca de
                        algunas de las tecnologías mencionadas en esta sección, puede
                        visitar&nbsp;</FONT>
                </FONT><A HREF="http://www.allaboutcookies.org/">
                    <FONT FACE="Arial, serif">
                        <FONT SIZE=3><U>www.allaboutcookies.org</U></FONT>
                    </FONT>
                </A>
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>.</FONT>
                </FONT>
            </P>
            <H1 CLASS="western">8. Cambios al Aviso de Privacidad.</H1>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>El presente Aviso de
                        Privacidad puede sufrir modificaciones, cambios o actualizaciones
                        derivadas de nuevos requerimientos legales, de nuestras propias
                        necesidades por los productos o servicios que ofrecemos, de nuestras
                        prácticas de privacidad, de cambios en nuestro modelo de negocio, o
                        por otras causas.</FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.25in; background: #ffffff; line-height: 100%">
                <FONT FACE="Arial, serif">
                    <FONT SIZE=3>Nos comprometemos a mantenerlo
                        informado sobre los cambios que pueda sufrir el presente Aviso de
                        Privacidad, a través del Sitio y la App en la sección
                        correspondiente de Aviso de Privacidad.</FONT>
                </FONT>
            </P>
            <P STYLE="margin-bottom: 0.11in"><BR><BR>
            </P>
        </div>
    </div>
</section>